.country{
    border: 2px solid peru;
    border-radius: 12px;
    margin: 10px;
    padding: 15px;
};

.visited-bg{
    /* background-color: brown; */
    background-color: red;
    color: blueviolet;

}